<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>alu</title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		h1{
			color: blue;
			text-align: center;
			font-size: 3rem;
		}
		#alu{
			margin: auto;

			width: 50%;
			
		}
	</style>
</head>
<body>
<h1> welcome to password generator</h1>
<form action="/password" method="get" accept-charset="utf-8">
	<p>How long password do you want?</p>
	<textarea name="str_count" id="alu"></textarea>
	<br>
	<button type="pass">Generate password</button>
</form>
</body>
</html>