{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phones</th>
				</tr>
				<tr>
					{%for i in c_ostumers%}
						<tr>
							<td><a href="{% url 'costumers' i.id%}" class="btn-primary btn-sm ">view</a>
							</td>
							<td>{{i.name}}</td>
							<td>{{i.phone}}</td>
						</tr>	
					
				</tr>
				{%endfor%}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'createorder'%}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				<tr>
					{%for order in o_rders%}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.d_created}}</td>
						<td>{{order.status}}</td>
						<td><a href="{% url 'update_order' order.id %}" class="btn btn-primary">update</a></td>
						<td><a href="{% url 'delete' order.id %}" class="btn btn-danger">remove</a></td>
					</tr>
					{%endfor%}
				</tr>
		
			</table>
		</div>
	</div>

</div>

{% endblock %}

